<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCESS_TOKEN_URL</key>
	<string>$(ACCESS_TOKEN_URL)</string>
	<key>APP_LANGUAGE</key>
	<string>$(APP_LANGUAGE)</string>
	<key>AUTHORIZE_TOKEN_URL</key>
	<string>$(AUTHORIZE_TOKEN_URL)</string>
	<key>AUTH_TOKEN</key>
	<string>$(AUTH_TOKEN)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hürdenlose Navigation</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>disabled-routing</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>32</string>
	<key>CONSUMER_KEY</key>
	<string>$(CONSUMER_KEY)</string>
	<key>CONSUMER_SECRET</key>
	<string>$(CONSUMER_SECRET)</string>
	<key>DISABLED_ROUTING_BASE_URL</key>
	<string>$(DISABLED_ROUTING_BASE_URL)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>dc06ceb977a60b06fed67065e0c5b2f00c7041ca</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1Ijoic2h1YmhzYWhnYWwiLCJhIjoiY2pkcGlxZXFhMW90czMzcDAxbTJxcjU3dCJ9.2IcUvD3mR9X0WKMnHPQVCQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Shows your location on the map and helps improve OpenStreetMap.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Shows your location on the map and helps improve OpenStreetMap.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shows your location on the map and helps improve OpenStreetMap.</string>
	<key>OSM_API_BASE_URL</key>
	<string>$(OSM_API_BASE_URL)</string>
	<key>REQUEST_TOKEN_URL</key>
	<string>$(REQUEST_TOKEN_URL)</string>
	<key>SEARCH_COUNTRY</key>
	<string>$(SEARCH_COUNTRY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Frutiger-LT-Std-45-Light.ttf</string>
		<string>Frutiger-LT-Std-65-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Walkthrough</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>WHEEL_MAP_BASE_URL</key>
	<string>$(WHEEL_MAP_BASE_URL)</string>
</dict>
</plist>
